{% extends 'books.html.twig' %}
{% block contents %}

{% if book.image %}
    <img src="{{ app.request.basepath }}/uploads/{{ book.image }}.jpg" />
{% endif %}
<br>
<span class="t">Synopsis : {{ book.synopsis }} </span><br>
<span class="t">Nombres exemplaires : {{ book.copies }} </span><br>
{% if book.copies !=0 %}
<ul>
  {% for copie in 1..book.copies %}
  <li class="t">
      <span>Exemplaire disponibles : reférence : {{ copie }}</span>
  </li>
  {% endfor %}
</ul>
{% endif %}
<a href="{{ path('books') }}"> Retour à la liste des livres </a>
{% endblock %}
