{% extends 'books.html.twig' %}
{% block contents %}

{#  {{dump(count)}} #}

{% if bookSame[0]['image'] %}
  <img src="{{ app.request.basepath }}/uploads/{{ bookSame[0].image }}.jpg" />
{% endif %}

<br>
<span class="t">Synopsis : {{ bookSame[0].synopsis }} </span><br>

<span class="t">Nombres exemplaires : {{ count }} </span><br>
<ul>
  {% for book in bookSame %}
{% if book.dispo == '1' %}
  <li class="t">
    <span class="t">Exemplaire disponibles : reférence : {{ book.book_id }}</span>
    {% if app.session.get('admin') %}
    <a href="{{ path('loanForm', {'book' : book }) }}">
    <button class="btn btn-success" >Emprunter</button>
      </a>
    {% endif %}
    </li>
    {% endif %}

    {% if book.dispo == '0' %}
      <li class="t">
        <span class="text-danger">Exemplaire disponibles : reférence : {{ book.book_id }}</span>
        {% if app.session.get('admin') %}
        <a href="{{ path('cardBooks', {'bookId' : book.book_id }) }}">
        <form id="form" method="post">
        <input class="hidden" type="number" name="book_id" value="{{ book.book_id }}"/>
        <input type="submit" class="btn btn-success" value="Retour livre" />
        </form>
          </a>

        {% endif %}
        </li>
        {% endif %}
    {% endfor %}
</ul>
<br>
<br>

<a href="{{ path('books') }}"> Retour à la liste des livres </a>
{% endblock %}
